---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div>
<p>Why I Love Teaching</p>
<p>Of all the tasks I could do best: pacify and help a worried friend, solve a math problem, offer thoughtful advice, and maintain a positive attitude in challenging situations there are many virtues I am proud of embodying and love to practice. However, the one thing I cherish the most among them all is teaching and mentoring. Having said that, one might wonder: Of all the other possible alternatives, why did teaching become the chosen path? Why not anything else? I believe the reason lies deeply in one’s psychology and way of life. As you may have figured out, I have always been an intensely curious and passionate person. Consequently, I engage with everything I do — reading, listening, eating, and experiencing — wholeheartedly and with dedication. I approach both books and conversations with people with the same passion and attentiveness.</p>
<p>Therefore, I have developed an innate belief that people themselves, with all they say, discuss, and in particular, teach, better be interesting. However, many of the teachers I’ve encountered have unfortunately been either monotonous and apathetic, overly strict and hostile, or discouraging and uninformed. This sentiment is not personal but is shared by many people I have known. Consequently, many have either lost interest in the subject or have persevered by encouraging themselves, disregarding these disheartening circumstances. Having said all this, it is, therefore, an immense pleasure to be a teacher who goes beyond merely teaching.</p>
</div>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
