---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div>
## Why I Love Teaching

I have always believed that teaching is a two-way street: I learn from my students as much as they learn from me. Over the last decade I’ve had the privilege to design and deliver courses on Data Structures, Algorithms, and Machine Learning.  In each class, my goal is to spark curiosity, demystify complex ideas, and show real-world applications so that every student sees how these abstract concepts can make an impact.  Teaching gives me the unique opportunity to “pay forward” what my own mentors taught me—and to watch future engineers and researchers find their own passion for computing.

This page lists all the courses I’ve taught, along with syllabi, lecture notes, and example problem sets.  Feel free to click into any semester to download PDFs, slide decks, or Git repositories of code examples.
</div>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
